{{ voucher | json }}

<mat-toolbar style='background:#CDEBFE;margin-bottom: 10px'>

  <span style="margin:0 auto;font-size:32px;font-weight: bold">
    سند قيد يومية
  </span>
  
</mat-toolbar>

<form [formGroup]="newForm" (ngSubmit)="newVoucher()" autocomplete="off" dir="rtl" style="margin:30px;">

  <div class="form-row">

    <div class="form-group col-3" align='right'>

        <label for="" >الكود العام</label>
        <input type="text" class="form-control" value="{{ voucher.gdhead_ID }}" disabled>
        
    </div>

    <div class="form-group col-3" align='right'>


        <mat-form-field>
            <input matInput class="form-control" [matDatepicker]="sampleDate" placeholder="التاريخ الميلادي" [(ngModel)]="voucher.gdGDate" formControlName="gdGDate">
            <mat-datepicker-toggle matSuffix [for]="sampleDate"></mat-datepicker-toggle>
            <mat-datepicker #sampleDate></mat-datepicker>
        </mat-form-field>

        <!-- <label for="" >الميلادي</label> -->
        <!-- <input type="text" class="form-control" formControlName="gdGDate"> -->

    </div>

    <div class="form-group col-3" align='right'>

      <label for="" >العملة</label>
      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="voucher.CurTyp" formControlName="CurTyp">
          <option *ngFor="let currency of currencys" [ngValue]="currency.Curency_ID">{{currency.Arb_Des}}</option>
      </select>

    </div>

  </div>

  <div class="form-row">

      <div class="form-group col-3" align='right'>

          <label for="" >الكود</label>
          <input type="text" class="form-control" value="{{ voucher.gdNo }}" disabled>

      </div>
       
      <div class="form-group col-5" align='right'>
          
          <label for="" >المندوب</label>
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="voucher.gdMnd" formControlName="gdMnd">
              <option value="">choose mndob</option>
              <option *ngFor="let mndob of mndobs" value="{{mndob.Mnd_No}}">{{mndob.Arb_Des}}</option>
          </select>

      </div>

  </div>

  <div class="form-row">

      <div class="form-group col-3" align='right'>

          <label for="" >المرجع</label>
          <input type="text" class="form-control" [(ngModel)]="voucher.RefNo" formControlName="RefNo">

      </div>

      <div class="form-group col-3" align='right'>

          <label for="" >نوع القيد</label>
          <input type="text" class="form-control" style="background:#31CA9E;color:white"  value="قيد يومية">

      </div>

  </div>

  
  <!-- details -->
  <table width='100%' style='margin:30px 0' formArrayName="details">

    <tr align="center">

        <th>
            <button mat-icon-button color="primary" (click)="addDetails()" type="button">
                <mat-icon>add</mat-icon>
            </button>
        </th>

        <th>رقم الحساب</th>
        <th>اسم الحساب</th>
        <th>البيــــــــــــــــــــــــــــان</th>
        <th>مدين</th>
        <th>دائن</th>
        <th>مركز التكلفة</th>
        <th>رقم الفاتورة</th>
    </tr>

    <tr align="center" *ngFor="let detail of detailsForm.controls; let i=index" [formGroupName]="i">

      <td></td>


      <td>
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="voucher.details[i].AccNo" formControlName="AccName" (change)="accdefChanged($event.target.value, i)">
              <option value="">choose</option>
              <option value="{{accdef.AccDef_No}}" *ngFor="let accdef of accdefs">{{accdef.AccDef_No}}</option>
          </select>
      </td>

      <td>
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="voucher.details[i].AccNo" formControlName="AccName" (change)="accdefChanged($event.target.value, i)">
              <option value="">choose</option>
              <option value="{{accdef.AccDef_No}}" *ngFor="let accdef of accdefs">{{accdef.Arb_Des}}</option>
          </select>
      </td>

      <td>
        <input type="text" class="form-control" [(ngModel)]="voucher.details[i].gdDes" formControlName="gdDes">
      </td>

      <td>
          <input type="text" class="form-control" [(ngModel)]="voucher.details[i].madeen" formControlName="madeen" (input)="onChangeMadeenValue($event.target.value, i)">
      </td>

      <td>
          <input type="text" class="form-control" [(ngModel)]="voucher.details[i].daen" formControlName="daen" (input)="onChangeDaenValue($event.target.value, i)">
      </td>

      <td>
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="voucher.details[i].gdCstNo" formControlName="gdCstNo">
              <option value="">choose Cost Center</option>
              <option *ngFor="let gdCst of gdCsts" value="{{gdCst.Cst_No}}">{{gdCst.Arb_Des}}</option>
          </select>
      </td>

      <td>
          <input type="text" class="form-control" formControlName="InvNo">
      </td>

      <td>
          <button mat-button color="warn" (click)="removeDetails(i)" type="button">
              <mat-icon>remove</mat-icon>
          </button>
      </td>

    </tr>        

  </table>




    <!-- form footter -->

    <div class="form-row">

        <div class="form-group col-6" align='right'>

            <label for="" >اسم الحساب</label>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="accdefActive" >
                <option value=""></option>
                <option value="{{accdef.AccDef_No}}" *ngFor="let accdef of accdefs">{{accdef.Arb_Des}}</option>
            </select>

        </div>

        <div class="form-group col-3" align='right'>
            <label for="" >الرصيد</label>
            <input type="text" class="form-control" formControlName="activeBalance" [value]='balance' >
        </div>

        <div class="form-group col-3" align='right'>

            <label for="" >إجمالي المدين</label>
            <input type="text" class="form-control" value='0' style="background:#fffeb0;text-align:center" formControlName="madeenTotal" >

        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-9" align='right'>

        </div>

        <div class="form-group col-3" align='right'>

            <label for="" >إجمالي الدائن</label>
            <input type="text" class="form-control" value='0' style="background:#fffeb0;text-align:center" formControlName="daenTotal" >

        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-9" align='right'>

        </div>

        <div class="form-group col-3" align='right'>

            <label for="" >الفرق</label>
            <input type="text" class="form-control"
            [class.is-invalid-background]="totalDiff !=0"
            [class.is-valid-background]="totalDiff ==0"
            [value]='totalDiff'
            disabled
            style="text-align:center">

        </div>

    </div> 

    <div class="form-row" style="margin-bottom:100px">

        <div class="form-group col-12" align='right'>

            <label for="" >ملاحظات</label>
            <input type="text" class="form-control" [(ngModel)]="voucher.gdMem" formControlName="gdMem">

        </div>

    </div>

    <button class="btn btn-success btn-lg" [disabled]="totalDiff !=0" type="submit" style="">Save</button>

</form>