{{ newForm.value | json }}

<mat-toolbar style='background:#CDEBFE;margin-bottom: 10px'>

  <span style="margin:0 auto;font-size:32px;font-weight: bold">
    سند قيد يومية
  </span>
  
</mat-toolbar>

<form [formGroup]="newForm" (ngSubmit)="newVoucher()" autocomplete="off" dir="rtl" style="margin:30px;">

  <div class="form-row">

    <div class="form-group col-3" align='right'>

        <label for="" >الكود العام</label>
        <input type="text" class="form-control" [(ngModel)]="voucher.gdMem">

    </div>

  </div>

</form>