{{ form.value | json }}
<div style="width:2000px; margin:0 auto">
  <mat-toolbar style='background:#CDEBFE;margin-bottom: 10px'>

    <span style="margin:0 auto;font-size:32px;font-weight: bold">
      New Item
    </span>
    
  </mat-toolbar>

  <form [formGroup]="form" (ngSubmit)="submit()" style="margin:30px;" autocomplete="off">

    <div class="form-row">

      <div class="form-group col-3">
        <label for="">Item No.</label>
        <input type="text" formControlName="Itm_No" class="form-control">
      </div>

      <div class="form-group col-3">
          <label for="Group_Code">Code</label>
          <input formControlName='Group_Code' type="text" class="form-control">
      </div>

      <div class="col-6">
          <label for="exampleFormControlSelect1">Category</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="ItmCat">
            <option value="">SELECT CATEGORY</option>
            <option *ngFor="let category of categorys" value="{{category.CAT_No}}">{{category.Eng_Des}}</option>
          </select>
        </div>
    </div>

    <div class="form-row">

      <div class="col">
        <label for="Arb_Des">Arabic Description</label>
        <input formControlName='Arb_Des' type="text" class="form-control">
      </div>

    </div>

    <div class="form-row">

      <div class="col">
        <label for="Eng_Des">English Description</label>
        <input formControlName='Eng_Des' type="text" class="form-control">
      </div>

    </div>

    <div class="form-row">

      <div class="col-6">

        <label for="DefultVendor">Default Supplier</label>
        <select class="form-control" id="exampleFormControlSelect1" formControlName="DefultVendor">
          <option value="">SELECT Supplier</option>
          <option *ngFor="let accdef of accdefs" value="{{accdef.AccDef_No}}">{{accdef.Eng_Des}}</option>
        </select>

      </div>

    </div>

    <div class="form-row">

      <div class="col-3">
        <label for="StartCost">Open Cost</label>
        <input formControlName='StartCost' type="text" class="form-control" >
      </div>

      <div class="col-3">
        <label for="AvrageCost">Avarege Cost</label>
        <input formControlName='AvrageCost' type="text" class="form-control" >
      </div>

    </div>

    <div class="form-row">

      <div class="col-3">
        <label for="LastCost">Last Cost</label>
        <input formControlName='LastCost' type="text" class="form-control" >
      </div>

      <div class="col-3">
        <label for="OpenQty">Quantity</label>
        <input formControlName='OpenQty' type="text" class="form-control" >
      </div>

    </div>

        
    <div class="form-row">

      <div class="col-3">
        <label for="Shipping_Cost">Land Shipping Cost</label>
        <input formControlName='Shipping_Cost' type="text" class="form-control" >
      </div>

      <div class="col-3">
        <label for="SeaCost">Sea Shipping Cost</label>
        <input formControlName='SeaCost' type="text" class="form-control" >
      </div>

    </div>

      <div class="form-row">

        <div class="col-3">
          <label for="QtyMax">Maximum</label>
          <input formControlName='QtyMax' type="text" class="form-control" >
        </div>

        <div class="col-3">
          <label for="ItmTyp">Item Type</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName='ItmTyp'>
            <option value="0">بضاعة</option>
            <option value="1">مواد خام</option>
            <option value="2">منتج</option>
            <option value="3">منتج خدمة</option>
            <option value="4">موقوف</option>
          </select>
        </div>

        <div class="col-3">
          <label for="Tax">Tax Value</label>
          <input formControlName='Tax' type="text" class="form-control" >
        </div>

        <div class="col-3">
          <label for="ItmNature">Tax Calculate</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="ItmNature">
            <option value="0">Sales price</option>
            <option value="1">Profite margin</option>
            <option value="2">Price include tax</option>
          </select>
        </div>

      </div>

      <div class="form-row">

        <div class="col-3">
          <label for="QtyLvl">Request Limit</label>
          <input formControlName='QtyLvl' type="text" class="form-control" >
        </div>

        <div class="col-3">
          <label for="ItmLoc">Item Size</label>
          <input formControlName='ItmLoc' type="text" class="form-control" >
        </div>

      </div>

      <div class="form-row">

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="Sn">
          <label class="form-check-label" for="exampleCheck1">Validate patch No.</label>
        </div>
      
      </div>

      <div class="form-row">

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="Lot">
          <label class="form-check-label" for="exampleCheck1">Use expire date</label>
        </div>

        <div class="col-2" align='right'>
          <label>Notify Before</label>
        </div>
      
        <div class="col-3" style="position:relative;top:-8px">
          <input formControlName='LrnExp' type="text" class="form-control" >
        </div>
      
        
        <div class="col-3" style="position:relative;top:-8px">
          <select class="form-control" id="exampleFormControlSelect1" formControlName="DMY">
            <option value="0">Day</option>
            <option value="1">Month</option>
            <option value="2">Year</option>
          </select>
        </div>
      
      </div>

      <div class="form-row">

        <div class="col">
          <label for="Note">Notes</label>
          <input formControlName='Note' type="text" class="form-control">
        </div>

      </div>



      <!-- unit row 1 -->
      <div class="form-row">
          
        <div class="col-2">
          <label for="exampleFormControlSelect1">Unit</label>
          <select  class="form-control" id="exampleFormControlSelect1" style="background-color:turquoise" formControlName="Unit1">
            <option value="">SELECT UNIT 1</option>
            <option *ngFor="let unit of units" value="{{unit.Unit_No}}">{{unit.Eng_Des}}</option>
          </select>
        </div>

        <div class="col-1">
          <label for="Pack1">Pack</label>
          <input formControlName='Pack1' type="text" class="form-control" style="background-color:turquoise">
        </div>

        <div class="col-1">
          <label for="UntPri1">Unit Price</label>
          <input formControlName='UntPri1' type="text" class="form-control" style="background-color:turquoise">
        </div>

        <div class="col-1">
          <label>Quantity</label>
          <input type="text" formControlName="qty1" class="form-control" >
        </div>

        <div class="col-1">
          <label>Cost</label>
          <input type="text" formControlName="cost1" class="form-control" >
        </div>

        <div class="col-3">
          <label for="BarCod1">Barcode</label>
          <input formControlName='BarCod1' type="text" class="form-control" >
        </div>

        <div class="col-3" class="def-unit-radio">
          <input type="radio" class="form-check-input" value="1" formControlName="DefultUnit">
        </div>

      </div>


      <!-- unit row 2 -->
      <div class="form-row">
          
        <div class="col-2">
          <select  class="form-control" id="exampleFormControlSelect1" formControlName="Unit2">
            <option value="">SELECT UNIT 2</option>
            <option *ngFor="let unit of units" value="{{unit.Unit_No}}">{{unit.Eng_Des}}</option>
          </select>
        </div>

        <div class="col-1">
          <input formControlName='Pack2' type="text" class="form-control">
        </div>

        <div class="col-1">
          <input formControlName='UntPri2' type="text" class="form-control">
        </div>

        <div class="col-1">
          <input type="text" formControlName="qty2" class="form-control" >
        </div>

        <div class="col-1">
          <input type="text" formControlName="cost2" class="form-control" >
        </div>

        <div class="col-3">
          <input formControlName='BarCod2' type="text" class="form-control" >
        </div>

        <div class="col-3" class="def-unit-radio">
          <input type="radio" class="form-check-input" value="2" formControlName="DefultUnit">
        </div>

      </div>


      <!-- unit row 3 -->
      <div class="form-row">
          
        <div class="col-2">
          <select  class="form-control" id="exampleFormControlSelect1" formControlName="Unit3">
            <option value="">SELECT UNIT 3</option>
            <option *ngFor="let unit of units" value="{{unit.Unit_No}}">{{unit.Eng_Des}}</option>
          </select>
        </div>

        <div class="col-1">
          <input formControlName='Pack3' type="text" class="form-control">
        </div>

        <div class="col-1">
          <input formControlName='UntPri3' type="text" class="form-control">
        </div>

        <div class="col-1">
          <input type="text" formControlName="qty3" class="form-control" >
        </div>

        <div class="col-1">
          <input type="text" formControlName="cost3" class="form-control" >
        </div>

        <div class="col-3">
          <input formControlName='BarCod3' type="text" class="form-control" >
        </div>

        <div class="col-3" class="def-unit-radio">
          <input type="radio" class="form-check-input" value="3" formControlName="DefultUnit">
        </div>

      </div>


      <!-- unit row 4 -->
      <div class="form-row">
          
        <div class="col-2">
          <select  class="form-control" id="exampleFormControlSelect1" formControlName="Unit4">
            <option value="">SELECT UNIT 4</option>
            <option *ngFor="let unit of units" value="{{unit.Unit_No}}">{{unit.Eng_Des}}</option>
          </select>
        </div>

        <div class="col-1">
          <input formControlName='Pack4' type="text" class="form-control">
        </div>

        <div class="col-1">
          <input formControlName='UntPri4' type="text" class="form-control">
        </div>

        <div class="col-1">
          <input type="text" formControlName="qty4" class="form-control" >
        </div>

        <div class="col-1">
          <input type="text" formControlName="cost4" class="form-control" >
        </div>

        <div class="col-3">
          <input formControlName='BarCod4' type="text" class="form-control" >
        </div>

        <div class="col-3" class="def-unit-radio">
          <input type="radio" class="form-check-input" value="4" formControlName="DefultUnit">
        </div>

      </div>


      <!-- unit row 4 -->
      <div class="form-row">
          
        <div class="col-2">
          <select  class="form-control" id="exampleFormControlSelect1" formControlName="Unit5">
            <option value="">SELECT UNIT 5</option>
            <option *ngFor="let unit of units" value="{{unit.Unit_No}}">{{unit.Eng_Des}}</option>
          </select>
        </div>

        <div class="col-1">
          <input formControlName='Pack5' type="text" class="form-control">
        </div>

        <div class="col-1">
          <input formControlName='UntPri5' type="text" class="form-control">
        </div>

        <div class="col-1">
          <input type="text" formControlName="qty5" class="form-control" >
        </div>

        <div class="col-1">
          <input type="text" formControlName="cost5" class="form-control" >
        </div>

        <div class="col-3">
          <input formControlName='BarCod5' type="text" class="form-control" >
        </div>

        <div class="col-3" class="def-unit-radio">
          <input type="radio" class="form-check-input" value="5" formControlName="DefultUnit">
        </div>

      </div>



      <!-- prices -->
      <h4>Prices(Default Price)</h4>
      <div class="form-row">

        <div class="col-2">
          <label for="Price1">Manimum Price</label>
          <input formControlName='Price1' type="text" class="form-control">
        </div>

        <div class="col-2">
          <label for="Price2">Special Price</label>
          <input formControlName='Price2' type="text" class="form-control">
        </div>

        <div class="col-2">
          <label for="Price3">Retail Price</label>
          <input formControlName='Price3' type="text" class="form-control">
        </div>

        <div class="col-2">
          <label for="Price4">Salesman Price</label>
          <input formControlName='Price4' type="text" class="form-control">
        </div>

        <div class="col-2">
          <label for="Price5">Distributer Price</label>
          <input formControlName='Price5' type="text" class="form-control">
        </div>

        <div class="col-2">
          <label for="Price6">Wholesale Price</label>
          <input formControlName='Price6' type="text" class="form-control">
        </div>


      </div>

      <button class="btn btn-success btn-lg" [disabled]='form.invalid' type="submit">{{ save }}</button>

  </form>

</div>