<mat-toolbar style='background:#CDEBFE;margin-bottom: 10px'>

  <span style="margin:0 auto;font-size:32px;font-weight: bold">
    سند قيد يومية
  </span>
  
</mat-toolbar>


<form dir="rtl" style="margin:30px;">

    <div class="form-row">

        <div class="form-group col-3" align='right'>

            <label for="" >الكود العام</label>
            <input type="text" class="form-control">

        </div>

        <div class="form-group col-3" align='right'>

            <label for="" >التاريخ الهجري</label>
            <input type="text" class="form-control">

        </div>

        <div class="form-group col-3" align='right'>

            <label for="" >الميلادي</label>
            <input type="text" class="form-control">

        </div>

        <div class="form-group col-3" align='right'>

            <label for="" >العملة</label>
            <input type="text" class="form-control" disabled value="ريال سعودي">

        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-3" align='right'>

            <label for="" >الكود</label>
            <input type="text" class="form-control">

        </div>

        <div class="form-group col-5" align='right'>

            <label for="" >المندوب</label>
            <input type="text" class="form-control">

        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-3" align='right'>

            <label for="" >المرجع</label>
            <input type="text" class="form-control">

        </div>

        <div class="form-group col-9" align='right'>

            <label for="" >نوع القيد</label>
            <input type="text" class="form-control" style="background:#31CA9E;color:white" disabled value="قيد يومية">

        </div>

    </div>



    <table width='100%' style='margin:30px 0'>

        <tr align="center">
            <th>رقم الحساب</th>
            <th>اسم الحساب</th>
            <th>البيــــــــــــــــــــــــــــان</th>
            <th>مدين</th>
            <th>دائن</th>
            <th>مركز التكلفة</th>
            <th>رقم الفاتورة</th>
        </tr>

        <tr align="center">
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
        </tr>        

        <tr align="center">
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
        </tr>        

        <tr align="center">
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
        </tr>        

        <tr align="center">
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
        </tr>        

        <tr align="center">
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <input type="text" class="form-control">
            </td>
        </tr>        

    </table>


    <!-- form footter -->

    <div class="form-row">

        <div class="form-group col-6" align='right'>

            <label for="" >اسم الحساب</label>
            <input type="text" class="form-control" disabled>

        </div>

        <div class="form-group col-3" align='right'>

            <label for="" >الرصيد</label>
            <input type="text" class="form-control" disabled>

        </div>

        <div class="form-group col-3" align='right'>

            <label for="" >إجمالي المدين</label>
            <input type="text" class="form-control" value='0' style="background:#fffe89;text-align:center">

        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-9" align='right'>

        </div>

        <div class="form-group col-3" align='right'>

            <label for="" >إجمالي الدائن</label>
            <input type="text" class="form-control" value='0' style="background:#fffe89;text-align:center">

        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-9" align='right'>

        </div>

        <div class="form-group col-3" align='right'>

            <label for="" >الفرق</label>
            <input type="text" class="form-control" value='0' style="background:#fffe89;text-align:center">

        </div>

    </div>

    <div class="form-row" style="margin-bottom:100px">

        <div class="form-group col-12" align='right'>

            <label for="" >ملاحظات</label>
            <input type="text" class="form-control">

        </div>

    </div>

</form>