<!-- <mat-toolbar style="background:#31CA9E;color:white">
  <span style="margin:0 auto" >Add New Invoice </span>
  <button class="btn-dialog-close" mat-mini-fab style="background:white;color:#31CA9E" (click)='onClose()' tabindex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form class="normal-form" [formGroup]="newForm" (ngSubmit)="newInv()" autocomplete="off" style="padding:15px 0">



  <div class="form-row">

    <div class="form-group col-2">

      <label>رقم الفاتورة</label>
      <input dir="rtl" type="text" class="form-control" [class.is-invalid]="Arb_Des.invalid && Arb_Des.touched" formControlName="Arb_Des">
      <small class="text-danger" [class.d-none]="Arb_Des.valid || Arb_Des.untouched">Arabic Descrition is required</small>

    </div>

    <div class="form-group col-12">

      <label>English Description</label>
      <input type="text" class="form-control" [class.is-invalid]="Eng_Des.invalid && Eng_Des.touched" formControlName="Eng_Des">
      <small class="text-danger" [class.d-none]="Eng_Des.valid || Eng_Des.untouched">English Descrition is required</small>
    </div>


  </div>

  <button class="btn btn-success btn-lg" [disabled]="newForm.invalid" type="submit" style="">Save</button>

</form> -->
